:root {
    --blue: #5271ff;
    --darkBlue: #5271ff55;
    --mainBackground: rgb(241, 243, 245);
    --background: rgb(246, 249, 252);
    --background2: #FAFBFC;
    --hoverBlue: rgb(10, 70, 228);
    --brightBlue: rgb(22, 82, 240);
}

body {
    background-color: #050505;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 300;
    width: 100%;
    margin-left: 0%;

    display: inline-flex;
}

.logo {
    width: 128px;
    height: 48px;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    width: 128px;
    height: 96px;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* bright mode */
.bright {
    background-color: var(--background2);
}

.bright .account-link:hover {
    color: var(--brightBlue);
}

.bright .logo-text {
    color: black;
}

.bright .hr {
    background-color: var(--mainBackground);
}

.bright .navbar-btn:hover {
    color: var(--brightBlue);
}

.bright .container {
    background-color: var(--background);
    min-height: 100vh;
    padding: 24px;
    border-radius: 15px;
}

.bright .account:hover {
    color: var(--hoverBlue);
}

.bright .category {
    background-color: var(--brightBlue);
    color: var(--mainBackground);
}

.bright .category:hover {
    background-color: var(--hoverBlue);
}

.bright .buy-coin-btn {
    background-color: var(--brightBlue);
    color: var(--mainBackground);
}

.bright .buy-coin-btn:hover {
    background-color: var(--hoverBlue);
}

.bright thead td {
    color: black;
}

.bright .increasing {
    color: #00B300;
}

.bright .decreasing {
    color: #F20519;
}

/* navbar */
.navbar {
    width: 0%;
    margin-top: 8px;
    overflow: hidden;
    margin-left: 4%;
    min-height: 100%;
}

.show {
    width: 10%;
    overflow: hidden;
}

.item {
    width: 128px;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--blue);
    padding-left: 12px;
    padding-right: 12px;
    transition: 500ms;
    color: #4a4a4a;
}

.item:hover {
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: var(--darkBlue);
    cursor: pointer;
    color: var(--blue);
}

.restart-btn {
    border-bottom: 1px solid #FF0005AA;
}

.restart-btn:hover {
    background-color: #FF0005;
    color: white;
}

/* app */
.app {
    width: 95%;
    min-height: 90vh;
    margin-left: 2.5%;
}

.container {
    padding: 24px;
}

.header {
    width: 100%;
    height: 96px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 256px;
    height: 96px;
    margin-right: auto;
}

.logo-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.account * {
    display: inline;
}

.navbar-btn {
    color: #4a4a4a;
    font-size: 24px;

    margin-left: 24px;  
    transition: 500ms;
}

.navbar-btn:hover {
    cursor: pointer;
    color: var(--blue);
}

.account-link {
    color: #4a4a4a;
    text-decoration: none;
    transition: 500ms;
    font-size: 24px;
}

.account-link:hover {
    color: var(--blue);
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #4a4a4a;

    margin-bottom: 12px;
}

.categories {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 100%;
    margin: 8px;
    background-color: var(--darkBlue);
    color: #aaa;
    font-size: 14px;

    border-radius: 4px;

    transition: 500ms;
}

.category:hover {
    color: white;
    background-color: var(--blue);
    cursor: pointer;
}

.increasing {
    color: #00B300;
}

.decreasing {
    color: #F20519;
}

.coins-table {
    width: 100%;
}

td {
    width: 20%;
    height: 48px;
    border-bottom: 1px solid #4a4a4a;
    padding-top: 4px;
    padding-bottom: 4px;
}

.bright td {
    border-bottom: 1px solid var(--mainBackground);
}

thead tr td {
    color: #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}

.symbol-td {
    width: 8%;
}

.name-td {
    width: 32%;
}

.add-to-fav-btn {
    color: #4a4a4a;
    width: 50%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-fav-btn .fas {
    color: red;
}

.add-to-fav-btn i:hover {
    color: red;
    cursor: pointer;
}

.buy-coin-td {
    width: 10%;
}

.buy-coin-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 75%;
    border-radius: 4px;

    color: #4a4a4a;
    background-color: var(--darkBlue);
    transition: 500ms;

    text-decoration: none;
}

.buy-coin-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue);
}

.bright .coin {
    color: black;
}

.coin {
    color: #7a7a7a;
}

.coin:hover {
    background-color: var(--background2);
}