:root {
    --blue: #5271ff;
    --darkBlue: #5271ff88;
    --mainBackground: rgb(241, 243, 245);
    --background: rgb(246, 249, 252);
    --background2: #FAFBFC;
    --hoverBlue: rgb(10, 70, 228);
    --brightBlue: rgb(22, 82, 240);
}

.trade-area {
    width: 100%;
    padding-bottom: 48px;

    display: inline-flex;
    justify-content: space-between;
    padding: 12px;
    margin-left: -6px;
}

.bright .coin-name {
    color: black;
}

.coin-name {
    font-size: 36px;
    margin-left: 24px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-price {
    font-size: 36px;
}

.trade-categories {
    display: inline-flex;
}

.sell {
    display: none;
}

.trade-category {
    width: 128px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 4px;
}

.buy-category-btn {
    background-color: #00C20677;

    transition: 500ms;
}

.buy-category-btn:hover {
    cursor: pointer;
    background-color: #00C206;
}

.buy-active {
    background-color: #00C206;
}

.bright .sell-category-btn {
    background-color: #00B30077;
}

.bright .sell-category-btn:hover {
    background-color: #00B300;
}

.bright .buy-active {
    background-color: #00B300;
}

.sell-category-btn {
    transition: 500ms;
    margin-left: 8px;
    background-color: #E0120077;
}

.sell-category-btn:hover {
    background-color: #E01200;
    cursor: pointer;
}

.sell-active {
    background-color: #E01200;
}

.bright .sell-category-btn {
    background-color: #F2051977;
}

.bright .sell-category-btn:hover {
    background-color: #F20519;
}

.bright .sell-active {
    background-color: #F20519;
}

input {
    width: 246px;
    border: none;
    outline: none;
    padding: 8px;
}

input[type="number"], input[type="text"] {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: white;
}

.bright input[type="number"], .bright input[type="text"] {
    color: black;
}

input[type="submit"] {
    width: 264px;

    background-color: transparent;
    border: 1px solid #00C206;
    color: white;

    transition: 500ms;
    border-radius: 8px;
}

.bright input[type="submit"] {
    color: black;
    border: 1px solid #00B300;
}

.bright .buy-submit:hover {
    border: 1px solid white;
    background-color: #00B300;
    color: white;
}

.buy-submit:hover {
    border: 1px solid black;
    background-color: #00C206;
    cursor: pointer;
}

.current-money {
    font-size: 16px;
    color: #4a4a4a;
    text-align: right;
    margin-right: 8px;
}

.log-table {
    width: 80%;
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
}

.bright .log-table {
    background-color: var(--background);
}

.bright .log-td {
    color: black;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.bright tbody tr:hover {
    background-color: var(--background2);
}

.coin-img {
    width: 48px;
    height: 48px;
}

.buy-log-table tbody .log-amount {
    color: #00C206;
}

.bright .buy-log-table tbody .log-amount {
    color: #00B300;
}

.sell-log-table tbody .log-amount {
    color: #E01200;
}

.bright .sell-log-table tbody .log-amount {
    color: #F20519;
}

.current-doge {
    text-align: right;
    color: black;
    margin-right: 8px;
}

.sell-submit {
    border: 1px solid #E01200;
    width: 10403491px;
}

.sell-log-table {
    display: none;
}

.bar {
    width: 246px;
    height: 36px;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    color: #4a4a4a;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;

    transition: 500ms;
    border-radius: 4px;
}

.p:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.bright .p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}