.trade-area {
    width: 100%;
    min-height: 90vh;

    display: inline-flex;
    justify-content: space-between;
    padding: 12px;
    margin-left: -6px;
}

.bright .coin-name {
    color: black;
}

.coin-name {
    font-size: 36px;
    margin-left: 24px;
}

.bright .coin-price {
    color: black;
}

.coin-price {
    font-size: 36px;
}

.trade-categories {
    display: inline-flex;
}

.sell {
    display: none;
}

.trade-category {
    width: 128px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 4px;
}

.buy-category-btn {
    background-color: #00C20677;

    transition: 500ms;
}

.buy-category-btn:hover {
    cursor: pointer;
    background-color: #00C206;
}

.buy-active {
    background-color: #00C206;
}

.sell-category-btn {
    transition: 500ms;
    margin-left: 8px;
    background-color: #E0120077;
}

.sell-category-btn:hover {
    background-color: #E01200;
    cursor: pointer;
}

input {
    width: 246px;
    border: none;
    outline: none;
    padding: 8px;
}

input[type="number"], input[type="text"] {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: white;
}

input[type="submit"] {
    width: 264px;

    background-color: transparent;
    border: 1px solid #00C206;
    color: white;

    transition: 500ms;
    border-radius: 8px;
}

input[type="submit"]:hover {
    border: 1px solid black;
    background-color: #00C206;
    cursor: pointer;
}

.current-money {
    font-size: 16px;
    color: #4a4a4a;
    text-align: right;
}