:root {
    --green: #00b415;
    --greenHover: #00b41599;
    --red: #E03132;
    --redHover: #E03132aa;
    --blue: #1A71C2;
    --darkBlue: #1A71C2;
    --mainBackground: rgb(241, 243, 245);
    --background: rgb(246, 249, 252);
    --background2: #fafbfc;
    --hoverBlue: #1A71C2AA;
    --brightBlue: #1A71C2;
}

 * {
    transition: 1000ms;
 }

img {
    width: 0px;
    height: 0px;
}

.logo {
    color: white;
}

.brigth .logo {
    color: black;
}

.bright .account-link {
    color: var(--brightBlue);
}

.account-link {
    color: var(--blue);
}

.bright .portfolio {
    background-color: var(--background);
}

.portfolio {
    background-color: black;
    width: 100%;
    min-height: 90vh;
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
}

.portfolio-table {
    width: 100%;
}

.bright .p-table-td {
    width: 20%;
    border-bottom: 1px solid var(--mainBackground);
}

.p-table-td {
    width: 20%;
    border-bottom: 1px solid #4a4a4a;
}

.symbol {
    width: 10%;
}

.name {
    width: 30%;
}

.bright .name {
    width: 30%;
}

.bright .buy-btn {
    width: 75%;
    height: 36px;
    background-color: var(--brightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    border-radius: 4px;
    transition: 500ms;
}

.bright .buy-btn:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: var(--hoverBlue);
}

.buy-btn {
    background-color: var(--darkBlue);
    width: 75%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    border-radius: 4px;
    transition: 500ms;
}

.buy-btn:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.bright tfoot tr td {
    color: black;
}

tfoot tr td {
    padding-top: 36px;
    color: rgba(255, 255, 255, 0.5);
}

.bright .withdraw {
    background-color: transparent;
    border: 1px solid var(--brightBlue);
    color: black; 
    transition: 500ms;
}

.bright .withdraw:hover {
    transition: 500ms;
    color: white;
    background-color: var(--hoverBlue);
}

.withdraw {
    border: 1px solid var(--darkBlue);
    color: white;
    transition: 500ms;
    background-color: transparent;
}

.withdraw:hover {
    cursor: pointer;
    background-color: var(--blue);
}

tbody .money td {
    color: #4a4a4a;
}

.bright tbody .money td {
    color: black;
}

.coin-img {
    margin-left: 0;
}

.buy-btn {
    text-decoration: none;
}